<div class="container mt-5 p-5 border">
  <h2 class="para text-center">OPEN DELIVERY REQUEST</h2>
  <p class="text-center" id="para-runner">Job List</p>

      <% orders.forEach(function(order, index) { %>
      <div class="row mx-auto mt-5">
        <div class="col-sm-12 border-bottom border-dark pb-3">
          <div class="container d-flex">
            <p class="paraFaqs">User <%= index + 1 %></p>
            <a class="btnToggle ml-auto"><i class="fas fa-chevron-down"></i></a>
          </div>
          
          <div id="paraDisplay<%= index %>" class="d-none">
            <!--list-->
            <div class="divTableRow">
              <div class="divTableCell">
                <small>Delivery ID:</small>
              </div>
              <div class="divTableCell" id="deli_id">
                <small>0003</small>
              </div>
            </div>

            <div class="divTableRow">
              <div class="divTableCell">
                <small>Customer:</small>
              </div>
              <div class="divTableCell" id="customer_name">
                <small><%= order.Username %></small>
              </div>
            </div>

            <div class="divTableRow">
              <div class="divTableCell">
                <small>Contact no.:</small>
              </div>
              <div class="divTableCell" id="customer_contact">
                <small><%= order.Phone %></small>
              </div>
            </div>

            <div class="divTableRow">
              <div class="divTableCell">
                <small>Delivery date:</small>
              </div>
              <div class="divTableCell" id="deli_date">
                <small><%= order.Deli_date %></small>
              </div>
            </div>

            <div class="divTableRow">
              <div class="divTableCell">
                <small>Delivery time:</small>
              </div>
              <div class="divTableCell" id="deli_time">
                <small><%= order.Deli_time %></small>
              </div>
            </div>

            <div class="divTableRow">
              <div class="divTableCell">
                <small>Pickup address:</small>
              </div>
              <div class="divTableCell" id="pickup_address">
                <small><%= order.Pickup_address %></small>
              </div>
            </div>

            <div class="divTableRow">
              <div class="divTableCell">
                <small>Delivery address:</small>
              </div>
              <div class="divTableCell" id="deli_address">
                <small><%= order.Delivery_address %></small>
              </div>
            </div>

            <div class="divTableRow">
              <div class="divTableCell">
                <small>Status:</small>
              </div>
              <div class="divTableCell" id="deli_status">
                <small><%= order.Item_stat %></small>
              </div>
            </div>

            <div class="divTableRow">
              <div class="divTableCell">
                <small>Message:</small>
              </div>
              <div class="divTableCell" id="deli_message">
                <small><%= order.Message %></small>
              </div>
            </div>

            <!--list-->

            <!--Buttons-->
            <div class="container d-flex">
              <div class="row ml-auto mt-2">
                <div class="col-sm-12">
                  <!-- Accept button -->
                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Accept</button>
  
                  <!-- Decline button -->
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Decline</button>
                </div>
              </div>
            </div>
            <!--Buttons-->
          </div>
        </div>
      </div>
      <% }); %>

      
</div>

<script src="js/toggleFaqs.js"></script>