<div class="container mt-5 p-5 border">
    <div class="row">

      <div class="col-sm-8 p-5">
        <h2 class="para text-center mb-5">Top Runners</h2>
        
        <div class="divTable">
          <div class="divTableBody">
                
              <% runners.forEach(function(runner, index) { %>
                <div class="divTableRow">
                  <div class="divTableCell"><%= runner.Username %> &nbsp;
                    <button class="btn detail-btn" data-toggle="modal" data-target="#runnerModal<%= index %>">
                      <i class="fas fa-info-circle"></i>
                    </button></div>
                    <div class="divTableCell"><button class="btn detail-btn" data-toggle="modal" data-target="#requestModal<%= index %>">Details</button></div>
                </div>

                <!-- Modal - Start -->
                  <div class="modal fade" id="runnerModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="#runnerModal<%= index %>Label" aria-hidden="true">
    
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="#runnerModal<%= index %>Label"><%= runner.Username %>'s Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
    
                      <div class="modal-body"><!--Modal body - Start-->
                        <div class="container border mt-5 p-5">
                            <h2 class="para text-center mb-5"><%= runner.Username %></h2>
                            <div class="row">

                                <div class="col-sm-6">
                                    <h3 class="para text-center mb-5"><%= runner.Username %>'s Detail</h3>
                                    <p class="text-center">Email: <%= runner.Email %></p>
                                    <p class="text-center">Phone: <%= runner.Phone %></p>
                                    <p class="text-center">Organization: <%= runner.Organization %></p>
                                    <p class="text-center">Payment: <%= runner.Payment %></p>
                                </div>

                                <div class="col-sm-6">
                                    <h3 class="para text-center mb-5">Runner's Charges</h3>
                                    <p class="text-center">Brunei Muara - $2.00</p>
                                    <p class="text-center">Tutong</p>
                                    <p class="text-center">Kuala Belait</p>
                                    <p class="text-center">Seria</p>
                                    <p class="text-center">Temburong</p>
                                    <p class="text-center">Outside Brunei</p>
                                </div>
                            </div>
                        </div>
                      </div><!--Modal body - End-->
    
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                  </div>
                  <!-- Modal - End -->

                  <!-- Modal - Start -->
                <div class="modal fade" id="requestModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="requestModal<%= index %>Label" aria-hidden="true">
  
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="requestModal<%= index %>Label"><%= runner.Username %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
  
                    <div class="modal-body"><!--Modal body - Start-->
                      <%- include('user_privateForm.ejs') %>
                    </div><!--Modal body - End-->
  
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
                </div>
                <!-- Modal - End -->

              <% }); %>
                  

          </div>
        </div>
      </div>
      
      <div class="col-sm-4 p-5">
        <h2 class="para text-center mb-5">Search Runners</h2>
        <form>

        <div class="form-group">
          <label for="username">Search by name</label>
          <input type="text" class="form-control" id="username" placeholder="Enter Runner's Name">
        </div>

        <div class="form-group">
          <label for="username">Search by rating</label>
          <input type="text" class="form-control" id="username" placeholder="Enter Runner's Ratings" required>
        </div>

        <button class="btn detail-btn">
          <i class="fas fa-search"></i>   
        </button>
      </form>
      </div>
      
    </div>
  </div>