<!--USERS PROFILE-->

<div class="container border mt-5 p-5">
    <div class="row">

        <div class="col-sm-6">
            <div class="user_prof">
                <h3 class="para mb-5"><%= username %>'s Profile</h3> <!--USER'S PROFILE-->
            </div>
            <table>
                <tr>
                    <td>First Name:&nbsp;&nbsp;&nbsp;</td>
                    <td><%= first %></td>
                </tr>
                <tr>
                    <td>Last Name:&nbsp;&nbsp;&nbsp;</td>
                    <td><%= last %></td>
                </tr>
                <tr>
                    <td>Email:&nbsp;&nbsp;&nbsp;</td>
                    <td><%= email %></td>
                </tr>
                <tr>
                    <td>Address:&nbsp;&nbsp;&nbsp;</td>
                    <td><%= address %></td>
                </tr>
                <tr>
                    <td>Phone:&nbsp;&nbsp;&nbsp;</td>
                    <td><%= phone %></td>
                </tr>
            </table>
        </div>

        <div class="col-sm-6">
            <div class="user_prof">
                <h3 class="para mb-5">Select what to do next:</h3> <!--USER'S SELECTION ON WHAT TO DO NEXT-->
            </div>
            <div class="userNext">
                <a href="#form" class="text-dark">
                    <i class="fas fa-plus mr-4"></i>
                    <span>New Order Request</span>
                </a>
            </div>
            <div class="userNext mt-4">
                <a href="#top" class="text-dark">
                    <i class="fas fa-search mr-4"></i>
                    <span>Search Runner</span>
                </a>
            </div>
            <div class="userNext mt-4">
                <a href="#active" class="text-dark">
                    <i class="fas fa-box mr-4"></i>
                    <span>View Active Job</span>
                </a>
            </div>
            <div class="userNext mt-4">
                <a href="#notify" class="text-dark">
                    <i class="fas fa-bell mr-4"></i>
                    <span>Notifications</span>
                </a>
            </div>
        </div>
    </div>
</div>