<!--RUNNER'S SECTION ON USER'S PROFILE-->

<div class="container mt-5 p-5 border">
    <div class="row">

      <div class="col-sm-12 p-5">
        <h2 class="para text-center mb-5">Runners</h2>
        
        <div class="divTable">
          <div class="divTableBody">
                
              <% runners.forEach(function(runner, index) { %>
                <div class="divTableRow">
                  <div class="divTableCell"><%= index + 1 %>.</div>
                  <div class="divTableCell">
                      <span class="viewRunner" data-toggle="modal" data-target="#runnerModal<%= index %>"><%= runner.Username %></span>
                    </div>
                    <div class="divTableCell text-right"><button class="btn detail-btn" data-toggle="modal" data-target="#requestModal<%= index %>">Send request</button></div>
                </div>

                <!-- Modal - Start -->
                  <div class="modal fade" id="runnerModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="#runnerModal<%= index %>Label" aria-hidden="true">
    
                  <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="#runnerModal<%= index %>Label"><%= runner.Username %>'s Details</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
    
                      <div class="modal-body"><!--Modal body - Start-->
                        <div class="container border mt-5 p-5">
                            <div class="row">

                              <div class="col-sm-6">
                                <h3 class="para mb-5"><%= username %>'s Profile</h3>
                                <table>
                                    <tr>
                                        <td>First Name:&nbsp;&nbsp;&nbsp;</td>
                                        <td><%= first %></td>
                                    </tr>
                                    <tr>
                                        <td>Last Name:&nbsp;&nbsp;&nbsp;</td>
                                        <td><%= last %></td>
                                    </tr>
                                    <tr>
                                        <td>Email:&nbsp;&nbsp;&nbsp;</td>
                                        <td><%= email %></td>
                                    </tr>
                                    <tr>
                                        <td>Phone:&nbsp;&nbsp;&nbsp;</td>
                                        <td><%= phone %></td>
                                    </tr>
                                    <tr>
                                        <td>Payment Preference:&nbsp;&nbsp;&nbsp;</td>
                                        <td><%= payment %></td>
                                    </tr>
                                </table>
                              </div>
                    
                              <div class="col-sm-6 justify-content-center">
                                  <h3 class="para mb-5">Runner's Charges</h3>
                                  <table>
                                      <tr>
                                          <td>Brunei Muara:&nbsp;&nbsp;&nbsp;</td>
                                          <td class="px-4 text-center">$<%= brunei %></td>
                                      </tr>
                                      <tr>
                                          <td>Temburong:&nbsp;&nbsp;&nbsp;</td>
                                          <td class="px-4 text-center">$<%= temburong %></td>
                                      </tr>
                                      <tr>
                                          <td>Tutong:&nbsp;&nbsp;&nbsp;</td>
                                          <td class="px-4 text-center">$<%= tutong %></td>
                                      </tr>
                                      <tr>
                                          <td>Seria:&nbsp;&nbsp;&nbsp;</td>
                                          <td class="px-4 text-center">$<%= seria %></td>
                                      </tr>
                                      <tr>
                                          <td>Kuala Belait:&nbsp;&nbsp;&nbsp;</td>
                                          <td class="px-4 text-center">$<%= kb %></td>
                                      </tr>
                                      <tr>
                                          <td>Outside Brunei:&nbsp;&nbsp;&nbsp;</td>
                                          <td class="px-4 text-center">$<%= outside %></td>
                                      </tr>
                                  </table>
                                  <small class="mt-5">All currency in Bruneian Dollar(BND)</small>
                                </div>
                                
                            </div>
                        </div>
                      </div><!--Modal body - End-->
    
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                  </div>
                  <!-- Modal - End -->

                  <!-- Modal - Start -->
                <div class="modal fade" id="requestModal<%= index %>" tabindex="-1" role="dialog" aria-labelledby="requestModal<%= index %>Label" aria-hidden="true">
  
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="requestModal<%= index %>Label"><%= runner.Username %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
  
                    <div class="modal-body"><!--Modal body - Start-->
                      <%- include('user_privateForm.ejs', {runner: runner.Username}) %>
                    </div><!--Modal body - End-->
  
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
                </div>
                <!-- Modal - End -->

              <% }); %>
                  

          </div>
        </div>
      </div>
      
    </div>
  </div>