<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%- title %></title>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <!-- Custom styles -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body>
  <%- include('partials/naviUser.ejs') %> <!--Navigation bar-->
  <main>

    <section id="profile">
      <div class="container">  
          <div class="row">
              <div class="col-sm-12">
                <div class="profile_details">
                  <%- include('partials/user_profile.ejs') %> <!--Users profile section-->
                </div>
              </div>    
          </div>       
      </div>
    </section>

    <section id="notify">
      <div class="container">  
          <div class="row">
              <div class="col-sm-12">
                <div class="profile_details">
                  <%- include('partials/user_notify.ejs', {notify: notify}) %> <!--Notification-->
                </div>
              </div>    
          </div>       
      </div>
    </section>
    
    <section id="top">
      <div class="container">  
          <div class="row">
              <div class="col-sm-12">
                <div class="profile_details">
                  <%- include('partials/user_view.ejs') %> <!--Runner Listings-->
                </div>
              </div>    
          </div>       
      </div>
    </section>

    <section id="form">
      <div class="container">  
          <div class="row">
              <div class="col-sm-12" id="open_request_form">
                  <%- include('partials/user_jobForm.ejs') %> <!--Users making open request section-->
              </div>    
          </div>       
      </div>
    </section>

    <section id="active">
      <div class="container">  
          <div class="row">
              <div class="col-sm-12">
                <div class="profile_details">
                  <%- include('partials/user_job.ejs', {actives: actives, runners: runners}) %> <!--Users making the private request section-->
                </div>
              </div>    
          </div>       
      </div>
    </section>
  </main>

  <%- include('partials/footer.ejs') %>

  <!-- Bootstrap core JavaScript -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js" integrity="sha512-XKa9Hemdy1Ui3KSGgJdgMyYlUg1gM+QhL6cnlyTe2qzMCYm4nAZ1PsVerQzTTXzonUR+dmswHqgJPuwCq1MaAg==" crossorigin="anonymous"></script>
  <!-- Plugin JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" integrity="sha512-0QbL0ph8Tc8g5bLhfVzSqxe9GERORsKhIn1IrpxDAgUsbBGz/V7iSav2zzW325XGd1OMLdL4UiqRJj702IeqnQ==" crossorigin="anonymous"></script>
  
  <!-- Custom JavaScript for this theme -->
  <script src="js/scrolling-nav.js"></script>

</body>
</html>
